/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

// ZMK headers
#include <behaviors.dtsi>               //  ZMK behaviors
#include <dt-bindings/zmk/bt.h>         //  ZMK bluetooth
#include <dt-bindings/zmk/keys.h>       //  ZMK keys
#include <dt-bindings/zmk/outputs.h>    //  ZMK outputs
#include <dt-bindings/zmk/pointing.h>   //  ZMK mouse
#include "keys_pt_abnt2.h"              //  ABNT2 keyboard

#define HM_TAPPING_TERM 200
#define HM_PRIOR_IDLE   150

// Layer definitions
#define BASE  0                         //  Camada base
#define ACCN  1                         //  Acentos e letras já acentuadas
#define NAVI  2                         //  Navegação
#define NUMB  3                         //  Números e símbolos de fácil acesso
#define SYMB  4                         //  Símbolos
#define FUNC  5                         //  Funções
#define WXYZ  6                         //  Camada reserva

// Behavior configuration
&mt {
  tapping-term-ms     = <HM_TAPPING_TERM>;
  flavor              = "tap-preferred";
};

&lt {
  tapping-term-ms     = <HM_TAPPING_TERM>;
  flavor              = "tap-preferred";
};

/ {
  combos {
    compatible        = "zmk,combos";

    combo_caps_word {
      bindings        = <&caps_word>;
      key-positions   = <14 17>;      //  F e J no mapa nativo de 36 teclas
    };
  };

  macros {
    accent: acute {
      compatible      = "zmk,behavior-macro-two-param";
      label           = "ACUTE";
      #binding-cells  = <2>;
      bindings        = <&macro_tap>
                      , <&macro_param_1to1 &kp MACRO_PLACEHOLDER>
                      , <&macro_tap>
                      , <&macro_param_2to1 &kp MACRO_PLACEHOLDER>;
    };
  };

  behaviors {

    // Behavior Único de Home Row Mod (Unificado)
    hm: homerow_mods {
      compatible            = "zmk,behavior-hold-tap";
      #binding-cells        = <2>;
      flavor                = "balanced";
      tapping-term-ms       = <HM_TAPPING_TERM>;
      quick-tap-ms          = <175>;
      require-prior-idle-ms = <HM_PRIOR_IDLE>;
      bindings              = <&kp>, <&kp>;
      hold-trigger-on-release;
    };

    // Mod-morphs para acentuação

    a_tilde: a_tilde {
      compatible            = "zmk,behavior-mod-morph";
      label                 = "A_TILDE";
      #binding-cells        = <0>;
      mods                  = <(MOD_LSFT|MOD_RSFT)>;
      bindings              = <&accent PT_TILDE PT_A>
                            , <&accent PT_TILDE LS(PT_A)>;
    };

    a_acute: a_acute {
      compatible            = "zmk,behavior-mod-morph";
      label                 = "A_ACUTE";
      #binding-cells        = <0>;
      mods                  = <(MOD_LSFT|MOD_RSFT)>;
      bindings              = <&accent PT_ACUTE PT_A>
                            , <&accent PT_ACUTE LS(PT_A)>;
    };

    a_circ: a_circ {
      compatible            = "zmk,behavior-mod-morph";
      label                 = "A_CIRC";
      #binding-cells        = <0>;
      mods                  = <(MOD_LSFT|MOD_RSFT)>;
      bindings              = <&accent PT_CARET PT_A>
                            , <&accent PT_CARET LS(PT_A)>;
    };

    a_grave: a_grave {
      compatible            = "zmk,behavior-mod-morph";
      label                 = "A_GRAVE";
      #binding-cells        = <0>;
      mods                  = <(MOD_LSFT|MOD_RSFT)>;
      bindings              = <&accent PT_GRAVE PT_A>
                            , <&accent PT_GRAVE LS(PT_A)>;
    };

    e_acute: e_acute {
      compatible            = "zmk,behavior-mod-morph";
      label                 = "E_ACUTE";
      #binding-cells        = <0>;
      mods                  = <(MOD_LSFT|MOD_RSFT)>;
      bindings              = <&accent PT_ACUTE PT_E>
                            , <&accent PT_ACUTE LS(PT_E)>;
    };

    e_circ: e_circ {
      compatible            = "zmk,behavior-mod-morph";
      label                 = "E_CIRC";
      #binding-cells        = <0>;
      mods                  = <(MOD_LSFT|MOD_RSFT)>;
      bindings              = <&accent PT_CARET PT_E>
                            , <&accent PT_CARET LS(PT_E)>;
    };

    i_acute: i_acute {
      compatible            = "zmk,behavior-mod-morph";
      label                 = "I_ACUTE";
      #binding-cells        = <0>;
      mods                  = <(MOD_LSFT|MOD_RSFT)>;
      bindings              = <&accent PT_ACUTE PT_I>
                            , <&accent PT_ACUTE LS(PT_I)>;
    };

    o_tilde: o_tilde {
      compatible            = "zmk,behavior-mod-morph";
      label                 = "O_TILDE";
      #binding-cells        = <0>;
      mods                  = <(MOD_LSFT|MOD_RSFT)>;
      bindings              = <&accent PT_TILDE PT_O>
                            , <&accent PT_TILDE LS(PT_O)>;
    };

    o_acute: o_acute {
      compatible            = "zmk,behavior-mod-morph";
      label                 = "O_ACUTE";
      #binding-cells        = <0>;
      mods                  = <(MOD_LSFT|MOD_RSFT)>;
      bindings              = <&accent PT_ACUTE PT_O>
                            , <&accent PT_ACUTE LS(PT_O)>;
    };

    o_circ: o_circ {
      compatible            = "zmk,behavior-mod-morph";
      label                 = "O_CIRC";
      #binding-cells        = <0>;
      mods                  = <(MOD_LSFT|MOD_RSFT)>;
      bindings              = <&accent PT_CARET PT_O>
                            , <&accent PT_CARET LS(PT_O)>;
    };

    u_acute: u_acute {
      compatible            = "zmk,behavior-mod-morph";
      label                 = "U_ACUTE";
      #binding-cells        = <0>;
      mods                  = <(MOD_LSFT|MOD_RSFT)>;
      bindings              = <&accent PT_ACUTE PT_U>
                            , <&accent PT_ACUTE LS(PT_U)>;
    };
  };

  keymap {
    compatible = "zmk,keymap";

    base_layer {
      display-name  = "BASE";
      label         = "Default";
      bindings      = <
        //  ╭───────────────┬───────────────┬───────────────┬───────────────┬───────────────╮ ╭───────────────┬───────────────┬───────────────┬───────────────┬───────────────╮
        &none &kp PT_Q        &kp PT_W        &kp PT_E        &kp PT_R        &kp PT_T          &kp PT_Y        &kp PT_U        &kp PT_I        &kp PT_O        &kp PT_P      &none
        //  ├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤ ├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤
        &none &hm LGUI PT_A   &hm LALT PT_S   &hm LCTRL PT_D  &hm LSHFT PT_F  &kp PT_G          &kp PT_H        &hm RSHFT PT_J  &hm RCTRL PT_K  &hm RALT PT_L   &hm RGUI PT_C_CEDILLA &none
        //  ├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤ ├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤
        &none &kp PT_Z        &kp PT_X        &kp PT_C        &kp PT_V        &kp PT_B          &kp PT_N        &kp PT_M        &kp PT_COMMA    &kp PT_DOT      &kp PT_SLASH  &none
        //  ╰───────────────┴───────────────┼───────────────┼───────────────┼───────────────┤ ├───────────────┼───────────────┼───────────────┼───────────────┼───────────────╯
                                              &lt ACCN ESC    &lt NAVI SPACE  &lt NUMB TAB      &lt SYMB RET    &lt FUNC BSPC   &lt ACCN DEL
        //                                  ╰───────────────┴───────────────┴───────────────╯ ╰───────────────┴───────────────┴───────────────╯
      >;
    };

    accents_layer {
      display-name  = "ACCENTS";
      label         = "Accents";
      bindings      = <
        //  ╭───────────────┬───────────────┬───────────────┬───────────────┬───────────────╮ ╭───────────────┬───────────────┬───────────────┬───────────────┬───────────────╮
        &none &a_tilde        &none           &none           &none           &kp PT_TILDE      &kp PT_TILDE    &none           &none           &o_tilde        &none         &none
        //  ├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤ ├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤
        &none &a_acute        &a_grave        &e_acute        &kp LSHFT       &none             &none           &u_acute        &i_acute        &o_acute        &none         &none
        //  ├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤ ├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤
        &none &a_circ         &none           &e_circ         &kp PT_GRAVE    &kp PT_CARET      &kp PT_CARET    &kp PT_GRAVE    &none           &o_circ         &none         &none
        //  ╰───────────────┴───────────────┼───────────────┼───────────────┼───────────────┤ ├───────────────┼───────────────┼───────────────┼───────────────┼───────────────╯
                                              &none           &none           &none             &none           &none           &none
        //                                  ╰───────────────┴───────────────┴───────────────╯ ╰───────────────┴───────────────┴───────────────╯
      >;
    };

    navi_layer {
      display-name  = "NAVI";
      label         = "Navigation";
      bindings      = <
        //  ╭───────────────┬───────────────┬───────────────┬───────────────┬───────────────╮ ╭───────────────┬───────────────┬───────────────┬───────────────┬───────────────╮
        &none &none           &none           &none           &none           &none             &kp K_REDO      &kp K_PASTE     &kp K_COPY      &kp K_CUT       &kp K_UNDO    &none
        //  ├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤ ├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤
        &none &kp LGUI        &kp LALT        &kp LCTRL       &kp LSHFT       &none             &kp CAPS        &kp LEFT        &kp DOWN        &kp UP          &kp RIGHT     &none
        //  ├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤ ├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤
        &none &none           &none           &none           &none           &none             &kp INS         &kp HOME        &kp PG_DN       &kp PG_UP       &kp END       &none
        //  ╰───────────────┴───────────────┼───────────────┼───────────────┼───────────────┤ ├───────────────┼───────────────┼───────────────┼───────────────┼───────────────╯
                                              &none           &none           &none             &kp RET         &kp BSPC        &kp DEL
        //                                  ╰───────────────┴───────────────┴───────────────╯ ╰───────────────┴───────────────┴───────────────╯
      >;
    };

    numb_layer {
      display-name  = "NUMB";
      label         = "Numbers";
      bindings      = <
        //  ╭───────────────┬───────────────┬───────────────┬───────────────┬───────────────╮ ╭───────────────┬───────────────┬───────────────┬───────────────┬───────────────╮
        &none &none           &none           &none           &none           &none             &kp PT_LBKT     &kp PT_N7       &kp PT_N8       &kp PT_N9       &kp PT_RBKT   &none
        //  ├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤ ├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤
        &none &kp LGUI        &kp LALT        &kp LCTRL       &kp LSHFT       &none             &kp PT_SEMI     &kp PT_N4       &kp PT_N5       &kp PT_N6       &kp PT_EQUAL  &none
        //  ├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤ ├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤
        &none &none           &none           &none           &none           &none             &kp PT_GRAVE    &kp PT_N1       &kp PT_N2       &kp PT_N3       &kp PT_BSLH   &none
        //  ╰───────────────┴───────────────┼───────────────┼───────────────┼───────────────┤ ├───────────────┼───────────────┼───────────────┼───────────────┼───────────────╯
                                              &none           &none           &none             &kp PT_DOT      &kp PT_N0       &kp PT_MINUS
        //                                  ╰───────────────┴───────────────┴───────────────╯ ╰───────────────┴───────────────┴───────────────╯
      >;
    };

    symb_layer {
      display-name  = "SYMB";
      label         = "Symbols";
      bindings      = <
        //  ╭───────────────┬───────────────┬───────────────┬───────────────┬───────────────╮ ╭───────────────┬───────────────┬───────────────┬───────────────┬───────────────╮
        &none &kp PT_LBRC     &kp PT_AMPS     &kp PT_STAR     &kp PT_LPAR     &kp PT_RBRC       &none           &none           &none           &none           &none         &none
        //  ├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤ ├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤
        &none &kp PT_COLON    &kp PT_DLLR     &kp PT_PRCNT    &kp PT_CARET    &kp PT_PLUS       &none           &kp RSHFT       &kp RCTRL       &kp RALT        &kp RGUI      &none
        //  ├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤ ├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤
        &none &kp PT_TILDE    &kp PT_EXCL     &kp PT_AT       &kp PT_HASH     &kp PT_PIPE       &none           &none           &none           &none           &none         &none
        //  ╰───────────────┴───────────────┼───────────────┼───────────────┼───────────────┤ ├───────────────┼───────────────┼───────────────┼───────────────┼───────────────╯
                                              &kp PT_LPAR     &kp PT_RPAR     &kp PT_UNDER      &none           &none           &none
        //                                  ╰───────────────┴───────────────┴───────────────╯ ╰───────────────┴───────────────┴───────────────╯
      >;
    };

    func_layer {
      display-name  = "FUNC";
      label         = "Function";
      bindings      = <
        //  ╭───────────────┬───────────────┬───────────────┬───────────────┬───────────────╮ ╭───────────────┬───────────────┬───────────────┬───────────────┬───────────────╮
        &none &kp F12         &kp F7          &kp F8          &kp F9          &kp PSCRN         &none           &none           &none           &none           &none         &none
        //  ├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤ ├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤
        &none &kp F11         &kp F4          &kp F5          &kp F6          &kp SLCK          &none           &kp RSHFT       &kp RCTRL       &kp RALT        &kp RGUI      &none
        //  ├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤ ├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤
        &none &kp F10         &kp F1          &kp F2          &kp F3          &kp PAUSE_BREAK   &none           &none           &none           &none           &none         &none
        //  ╰───────────────┴───────────────┼───────────────┼───────────────┼───────────────┤ ├───────────────┼───────────────┼───────────────┼───────────────┼───────────────╯
                                              &kp K_APP       &kp SPACE       &kp TAB           &none           &none           &none
        //                                  ╰───────────────┴───────────────┴───────────────╯ ╰───────────────┴───────────────┴───────────────╯
      >;
    };

    wxyz_layer {
      display-name  = "WXYZ";
      label         = "Reservado";
      bindings      = <
        //  ╭───────────────┬───────────────┬───────────────┬───────────────┬───────────────╮ ╭───────────────┬───────────────┬───────────────┬───────────────┬───────────────╮
        &none &none           &none           &none           &none           &none             &none           &none           &none           &none           &none         &none
        //  ├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤ ├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤
        &none &kp LGUI        &kp LALT        &kp LCTRL       &kp LSHFT       &none             &none           &kp RSHFT       &kp RCTRL       &kp RALT        &kp RGUI      &none
        //  ├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤ ├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤
        &none &none           &none           &none           &none           &none             &none           &none           &none           &none           &none         &none
        //  ╰───────────────┴───────────────┼───────────────┼───────────────┼───────────────┤ ├───────────────┼───────────────┼───────────────┼───────────────┼───────────────╯
                                              &none           &none           &none             &none           &none           &none
        //                                  ╰───────────────┴───────────────┴───────────────╯ ╰───────────────┴───────────────┴───────────────╯
      >;
    };
  };
};
